header.medical-coding-specialist {
    background-image: url('../../images/design-desk-banner.jpg');
}

section.medical-coding-specialist {

    &:nth-of-type(1) {
        padding-bottom: 40px;
    }

    &:nth-of-type(2) {
        background-color: $light-blue;

        ul {
            margin-top: -10px;
            margin-bottom: 40px;
        }
    }

    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;

        &.syllabus {
            background-color: $light-blue;
        }

        h2 {
            font-size: 28px;
            line-height: 1.2;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-left: 20px;
            margin-right: 20px;
            opacity: 0;
            transform: translateY(-30px);
            animation-name: slide-down-fade-in;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-delay: 900ms;

            @media all and (min-width: 768px) {
                margin-left: 0;
                margin-right: 0;
            }
        }

        h3 {
            margin: 25px 0;
        }
    }

    .block {
        width: 100%;
        padding: 0 20px;
        opacity: 0;
        transform: translateY(-30px);
        animation-name: slide-down-fade-in;
        animation-duration: 1s;
        animation-fill-mode: forwards;

        @media all and (min-width: 768px) {
            width: 50%;
            padding: 0;
        }

        strong {
            font-weight: 900;
            margin-right: 8px;
        }

        p {
            margin: 25px 0;
            font-size: 18px;
            line-height: 25px;
        }

        ul {
            font-size: 18px;
            line-height: 25px;
            margin-top: -20px;
        }

        .contact-block {
            display: block;
            padding: 20px;
            margin: 25px 0;
            background-color: $fvi-blue;
            color: #fff;
            text-align: center;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            font-size: 20px;
        }

        &.left {
            animation-delay: 1200ms;

            @media all and (min-width: 768px) {
                padding-right: 30px;
            }

            address {
                margin-top: -15px;
            }
        }

        &.right {
            animation-delay: 1500ms;

            @media all and (min-width: 768px) {
                padding-left: 30px;
            }
        }
    }
}
