extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Courses')

block content
    include ../partials/header
    +makeHeader('courses')
        h1.header-heading.slide-down-fade-in Continuing Education Courses

    section.courses
        .container.course-boxes
            a.box(href='medical-coding-specialist.html')
                .image
                h3.course-name medical coding specialist
            a.box(href='home-health-aide.html')
                .image
                h3.course-name home health aide
            a.box(href='medical-assistant.html')
                .image
                h3.course-name medical assistant
            a.box(href='patient-care-technician.html')
                .image
                h3.course-name patient care technician
            a.box(href='pharmacy-technician.html')
                .image
                h3.course-name pharmacy technician

block footer
    include ../partials/footer
    +makeFooter('courses')
