extends ../partials/layout

block head
    include ../partials/head
    +makeHead('Home')

block content
    include ../partials/header
    +makeHeader('home')
        h1.header-heading.slide-down-fade-in.
            CONTINUING EDUCATION &amp; #[br] PROFESSIONAL DEVELOPMENT
        p.header-subheading Start, refresh, or renew your skills for the workforce

    section.home
        .container
            .left.block
                h3 Focused On Your Success
                p Florida Vocational Institute continuing education courses are design to offer training for individuals seeking to improve their professional and occupational skills. We aim to improve employability and inspire life long career growth, thereby improving the life quality of individuals in our community.
                a.view-our-courses-btn(href='courses.html') View Our Courses
            .right.block
                img.students-image(src='images/students.jpeg', alt='Students at the Florida Vocational Institute')

    section.home
        .container
            .block
                img.benefits-icon.icon1(src='images/cardiogram.svg', alt='cardiogram')
                h3 Why FVI?
                p FVI is here to help you reach your goals for a new future filled with professional satisfaction and rewards. We are ready to serve you by making your dreams a reality, and helping you reach your career goals.
            .block
                img.benefits-icon.icon2(src='images/heart.svg', alt='heart')
                h3 Our Campus
                p Florida Vocational Institute is conveniently located inside the Mall of the Americas, on the 2nd floor.
                br
                address
                    p.
                        7757 West Flagler Street
                        #[br]
                        Suite 220, Miami, FL 33144
            .block
                img.benefits-icon.icon3(src='images/electrocardiogram.svg', alt='electrocardiogram')
                h3 Have Questions?
                p If you&rsquo;re ready to get started or have questions, click the button below or call us. We&rsquo;re excited to help you get started on your training and help you obtain your new career!
        |
        a.contact-btn(href='') Contact Us

    section.home
        h2 What Our Students Say About Us
        .container
            .block
                img.testimonial-img.img1(src='images/yanet.png', alt='Yanet')
                .text
                    h3 Yanet Gonzalez, Medical Assistant
                    p &quot;FVI helped me to accommodate my externship hours around my busy schedule. Today, #[strong I am working as a Medical Assistant in a doctor's office, in which I perform EKG, Phlebotomy, Data entry, Vital signs etc]. It is a great opportunity to put into practice the knowledge I acquired at FVI. My doctor is satisfied with my work and my patients respect and trust me.&quot;
            .block
                img.testimonial-img.img2(src='images/frank.jpg', alt='Frank')
                .text
                    h3 Frank Veloz, Web Developer at Tango Mango
                    p &quot;I&rsquo;m grateful to FVI and all the professors, like Victor Moreno and Randy Ferrer, for providing me with skills and abilities that helped #[strong open the doors to a world full of new opportunities]. Coding literally changed my life and has become a powerful tool to grow and improve my life in several aspects. Excellence, knowledge, respect, dedication are the things you&rsquo;ll find every step of the learning process.&quot;
            .block
                img.testimonial-img.img3(src='images/tatiana.png', alt='Tatiana')
                .text
                    h3 Tatiana Torres, Patient Care Technician
                    p &quot;When I started school I didn&rsquo;t have the slightest idea of how much I would learn. I started the course without knowing anything about healthcare and the care that it requires. I didn't want to know anything about being in hospitals, but as the time passed, I became passionate about what I was learning. I had some excellent teachers who shared their knowledge with colleagues and I and encouraged us learn. #[strong Now I work for Miami Cerebral Palsy as Direct Support Apprentice (DSA)] applying what I learned, and I feel very happy.&quot;


block footer
    include ../partials/footer
    +makeFooter('home')
