.home.header {
    background-image: url('../../images/medical-hero-mobile.jpg');

    @media all and (min-width: 480px) {
        background-image: url('../../images/medical-hero.jpg');
    }

    .header-heading {
        margin-top: 25px;
        letter-spacing: 4px;
        line-height: 36px;
        font-size: 28px;
        text-transform: uppercase;

        @media all and (min-width: 768px) {
            letter-spacing: 5px;
            font-size: 34px;
            line-height: 45px;
        }
    }
}

section.home {
    padding: 30px 0;

    @media all and (min-width: 768px) {
        padding: 80px 0;
    }
}

@import "./_section1.scss";
@import "./_section2.scss";
@import "./_section3.scss";
