section.cta
    h2 Are you ready for a change?
    a.contact-btn get in touch
    p.disclaimer.
        Disclaimer: for consumer information, visit
        #[br]
        #[a(rel='noopener', target='_blank', title='FVI Consumer Information', href='http://www.fvi.edu/consumer-information/') #{'www.fvi.edu/consumer-information'}]
