<footer>
    <div class="container">
        <a href="index.html"><img src="images/fvi-full-white.png" alt="Florida Vocational Institute logo" class="footer-logo"></a>
        <nav class="nav footer-nav">
            <ul class="nav-list">
                <li class="nav-list-li">
                    <a href="index.html" class="nav-list-li-a">Home</a>
                </li>
                <li class="nav-list-li">
                    <a href="courses.html" class="nav-list-li-a">Courses</a>
                </li>
                <li class="nav-list-li">
                    <a href="" class="contact-btn nav-list-li-a">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
