doctype html
html(lang='en')
    head
        block head
    body
        block content

        include partners
        include cta

        block footer

        include contact-modal

        script(src='js/aos.js')
