section.partners
    img(src='images/coe.jpg', alt='Council On Occupational Education', title='Council On Occupational Education')
    img(src='images/cssf.png', alt='Careesource South Florida', title='Careesource South Florida')
    img(src='images/bon.png', alt='Florida Board of Nursing', title='Florida Board of Nursing')
    img(src='images/fl-doe.jpg', alt='Florida Department of Education', title='Florida Department of Education')
    img(src='images/fapsc.jpeg', alt='Florida Association of Postsecondary Schools and Colleges', title='Florida Association of Postsecondary Schools and Colleges')
