@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$main-font: 'Lato', sans-serif;
$light-blue: rgba(85, 172, 238, .1);
$fvi-blue: #3898EC;
$dark-blue: #048;

body {
    margin: 0;
    font-family: $main-font;
}

* {
    box-sizing: border-box;
    position: relative;
    transition: all 200ms;
}

section {
    padding: 30px 0;

    @media all and (min-width: 768px) {
        padding: 80px 0;
    }
}

h1 {
    font-weight: 300;
}

p {
    color: #333;
}
