section.partners {
    padding: 15px 10px !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    img {
        height: 100%;
        max-height: 30px;

        @media all and (min-width: 768px) {
            max-height: 45px;
        }

        @media all and (min-width: 992px) {
            max-height: 60px;
        }
    }
}
